<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">
        <mat-error>Bạn cần đăng nhập để sử dụng dịch vụ</mat-error>
        <br><br><br>
        <mat-dialog-actions>
          <button mat-raised-button color="warn" [mat-dialog-close]="false">NO</button>
          <button mat-raised-button color="primary" [mat-dialog-close]="true">YES</button>
        </mat-dialog-actions>
      </mat-card>
    </div>
  </div>
</div>
